#define homerow_mod \
    compatible = "zmk,behavior-hold-tap"; \
    #binding-cells = <2>; \
    tapping-term-ms = <280>; \
    bindings = <&kp>, <&kp>; \
    flavor = "balanced"; \
    quick-tap-ms = <175>; \
    require-prior-idle-ms = <150>; \
    hold-trigger-on-release;

#define LAYER_TAP_DANCE(name, layer) \
    td_##name: td_##name { \
        label = #name "_tap_dance"; \
        compatible = "zmk,behavior-tap-dance"; \
        #binding-cells = <0>; \
        tapping-term-ms = <200>; \
        bindings = <&mo layer>, <&tog layer>; \
    };

#define MO_TOG(layer) &mo_tog layer layer
#define MO_TOG_NUM MO_TOG(layer_num)
#define LT_NAV(kp) &lt layer_nav kp
#define LT_SYM(kp) &lt layer_sym kp

/ {
    behaviors {
        /* LAYER_TAP_DANCE(sym, layer_sym) */

        magic: magic {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };

        esc_app: esc_app {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&app_switch>, <&kp>;
        };

        mo_tog: mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };

        hml: hml {
            homerow_mod
            hold-trigger-key-positions = <55 56 57 72 73 74 71 70 69 52 53 54 58 40 28 16 17 5 6 18 29 41 59 75 76 60 42 30 7 19 31 43 61 77 78 79 63 62 44 45 33 32 20 21 9 8>;
        };

        hmr: hmr {
            homerow_mod
            hold-trigger-key-positions = <72 74 73 57 56 55 71 54 53 70 69 52 64 46 34 22 10 0 1 11 12 23 24 25 36 37 48 49 67 4 14 15 35 47 65 66 68 2 3 13 26 27 38 39 50 51>;
        };
    };
};
