/* https://zmk.dev/docs/keymaps/behaviors/layers#defines-to-refer-to-layers */

#define layer_macos 0
#define layer_pc 1
#define layer_sym 2
#define layer_nav 3
#define layer_num 4
#define layer_magic 5
