#define L_T1 52
#define L_T2 53
#define L_T3 54
#define L_T4 69
#define L_T5 70
#define L_T6 71
#define L_C1R2 15
#define L_C1R3 27
#define L_C1R4 39
#define L_C1R5 51
#define L_C2R1 4
#define L_C2R2 14
#define L_C2R3 26
#define L_C2R4 38
#define L_C2R5 50
#define L_C2R6 68
#define L_C3R1 3
#define L_C3R2 13
#define L_C3R3 25
#define L_C3R4 37
#define L_C3R5 49
#define L_C3R6 67
#define L_C4R1 2
#define L_C4R2 12
#define L_C4R3 24
#define L_C4R4 36
#define L_C4R5 48
#define L_C4R6 66
#define L_C5R1 1
#define L_C5R2 11
#define L_C5R3 23
#define L_C5R4 35
#define L_C5R5 47
#define L_C5R6 65
#define L_C6R1 0
#define L_C6R2 10
#define L_C6R3 22
#define L_C6R4 34
#define L_C6R5 46
#define L_C6R6 64
#define R_T1 57
#define R_T2 56
#define R_T3 55
#define R_T4 74
#define R_T5 73
#define R_T6 72
#define R_C1R2 16
#define R_C1R3 28
#define R_C1R4 40
#define R_C1R5 58
#define R_C2R1 5
#define R_C2R2 17
#define R_C2R3 29
#define R_C2R4 41
#define R_C2R5 59
#define R_C2R6 75
#define R_C3R1 6
#define R_C3R2 18
#define R_C3R3 30
#define R_C3R4 42
#define R_C3R5 60
#define R_C3R6 76
#define R_C4R1 7
#define R_C4R2 19
#define R_C4R3 31
#define R_C4R4 43
#define R_C4R5 61
#define R_C4R6 77
#define R_C5R1 8
#define R_C5R2 20
#define R_C5R3 32
#define R_C5R4 44
#define R_C5R5 62
#define R_C5R6 78
#define R_C6R1 9
#define R_C6R2 21
#define R_C6R3 33
#define R_C6R4 45
#define R_C6R5 63
#define R_C6R6 79
